DOCKER_ENV=prod
DOCKER_NODE=mixmo-node
ENABLE_BROWSERSYNC=false
GRAPHQL_ENDPOINT=<graphQl url>
LOGGER_LEVEL=WARNING
MIXMO_NODE_SERVER_NAME=<server url>
MIXMO_SERVER_NAME=<server url>
NODEJS_ENDPOINT=http://node.mixmo.fr:26300
ROLLBAR_ENV=production
ROLLBAR_KEY=<key>
SOCKETIO_URL=http://node.mixmo.fr:9090
MIXMO_PROMETHEUS_SERVER_NAME=<prometheus url>
MIXMO_GRAFANA_SERVER_NAME=<grafana url>
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
