<div class="row">
    <div class="small-12 columns">
        <span>Déplacer la grille : </span>
    </div>
    <div class="small-12 columns moveBoardBar">
        <div class="expanded button-group">
            <a id="moveLeft" class="moveBoardBtn button secondary" data-x="-1" data-y="0"><i class="material-icons">arrow_back</i></a>
            <a id="moveUp" class="moveBoardBtn button secondary" data-x="0" data-y="-1"><i class="material-icons">arrow_upward</i></a>
            <a id="moveDown" class="moveBoardBtn button secondary" data-x="0" data-y="1"><i class="material-icons">arrow_downward</i></a>
            <a id="moveRight" class="moveBoardBtn button secondary" data-x="1" data-y="0"><i class="material-icons">arrow_forward</i></a>
        </div>
    </div>
</div>