<div id="chatlog" class="chat-log" data-toggler=".hide">
    <div id="log" class="log">
        <dl id="chat-messages">

        </dl>
    </div>
    <input type="text" id="chat-input" class="chat-input" placeholder="message..."/>
</div>