<div class="row column">
    <a class="button" id="otherPlayerGrid" data-open="playerGridPopin">Voir les autres grilles</a>
</div>
<div class="row column">
    <dl>
        <dt>/players</dt>
        <dd>Affiche la liste des joueurs.</dd>
    </dl>
</div>