<div class="gangster-selector letter-selector">
    <h1>Sélectionnez une lettre</h1>
    <span class="letter-selector-close"></span>

    <div class="grid">
        <ul class="letters">
            <li class="gangster-letter-select">K</li>
            <li class="gangster-letter-select">W</li>
            <li class="gangster-letter-select">X</li>
            <li class="gangster-letter-select">Y</li>
            <li class="gangster-letter-select">Z</li>
        </ul>
    </div>

</div>