<div class="row column joker-selector letter-selector">
    <h1>Sélectionnez une lettre</h1>

    <div class="grid">
        <ul class="letters">
            <li class="joker-letter-select">A</li>
            <li class="joker-letter-select">B</li>
            <li class="joker-letter-select">C</li>
            <li class="joker-letter-select">D</li>
            <li class="joker-letter-select">E</li>
            <li class="joker-letter-select">F</li>
            <li class="joker-letter-select">G</li>
            <li class="joker-letter-select">H</li>
            <li class="joker-letter-select">I</li>
            <li class="joker-letter-select">J</li>
            <li class="joker-letter-select">K</li>
            <li class="joker-letter-select">L</li>
            <li class="joker-letter-select">M</li>
            <li class="joker-letter-select">N</li>
            <li class="joker-letter-select">O</li>
            <li class="joker-letter-select">P</li>
            <li class="joker-letter-select">Q</li>
            <li class="joker-letter-select">R</li>
            <li class="joker-letter-select">S</li>
            <li class="joker-letter-select">T</li>
            <li class="joker-letter-select">U</li>
            <li class="joker-letter-select">V</li>
            <li class="joker-letter-select">W</li>
            <li class="joker-letter-select">X</li>
            <li class="joker-letter-select">Y</li>
            <li class="joker-letter-select">Z</li>
        </ul>
    </div>

</div>