<div class="top-bar mixmo-menu">
    <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
        <strong>Mixmo !</strong>
    </div>
    <div id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="/">Accueil</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
            </ul>
        </div>
    </div>
</div>